body {
    background: url("img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.modal-content{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 20px; 
}

.modal.show {
    opacity: .9;
    filter: alpha(opacity=80);
}
